.news-letter{
    width: 60%;
    padding: 50px 50px;
    margin: 50px auto;
    background:linear-gradient(135deg, #f4a0ff, #f3f2f5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
.news-letter h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.news-letter-con{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
}
.news-letter-con input{
    border: none;
    font-size: 18px;
    padding:10px 15px;
    outline: none;
    background-color: transparent;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 50px;
}
.news-letter-con button{
    font-size: 18px;
    padding: 10px 15px;
    height: 100%;
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.news-letter-con button:active{
    background-color: black;
}