.shop-category{
    width: 90%;
    margin: auto;
}
.shop-category-banner{
    width: 100%;
}
.shop-category-banner img{
    width: 100%;
}
.category-header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.category-header .left{
    font-weight: bold;
}
.category-header .right{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    padding: 5px 10px;
    cursor: pointer;
}
.shop-cartegory-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px 0;
}
.cart-heading{
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg,#fabde6, #fdf9fa);
}
.cart-heading h1{
    font-size: 45px;
    font-weight: 600;
}
