.new-product{
    margin: 50px 0;
    padding: 0 10%;
}
.new-product h1{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.new-product h1::after{
    position: absolute;
    content: '';
    width: 120px;
    height: 4px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.new-product-cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
