.related-product{
   width: 80%; 
   margin: 40px auto;
}
.related-product h1{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.related-product h1::before{
    position: absolute;
    content: '';
    width: 120px;
    height: 4px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.related-product-cart{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}