.new-collection{
    margin: 70px 0;
    padding: 0 10%;
}
.new-collection h1{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.new-collection h1::after{
    position: absolute;
    content: '';
    width: 120px;
    height: 4px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
.new-collection-product{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
