.Hero{
   background: linear-gradient(100deg,#fabde6, #fdf9fa);
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap:wrap ;
   padding: 20px 10%;
}
.Hero-left{
    min-width: 300px;
}

.Hero-left h1{
    font-size: 20px;
}
.hand-icon{
    display: flex;
    align-items: center;
} 
.hand-icon h2{
    font-size: 55px;
    line-height: 1.1;
    font-weight: 500;
}
.hand-icon img{
    width: 70px;
}
.Hero-left-collection h2{
    font-size: 55px;
    line-height: 1.1;
    font-weight: 500;
}
.Hero-left-collection button{
    margin-top: 30px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}
.Hero-left-collection button:active{
    background-color: black;
    color: white;
}
.Hero-right img{
   max-width: 400px;
}

